# Node
node_modules/
dist/
*.log
.npm/
.eslintcache
*.tsbuildinfo

# Env / secrets
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Astro
.astro/

# Vite
.vite/
